<section data-markdown="/public/slides/{{slide}}"
  data-separator="{{#if config.hsep}}{{config.hsep}}{{else}}^---${{/if}}"
  data-separator-vertical="{{#if config.vsep}}{{config.vsep}}{{else}}^\|\|\|${{/if}}"
  data-separator-notes="{{#if config.nsep}}{{config.nsep}}{{else}}^Note:{{/if}}"
  ></section>
