<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>reveal.js</title>

    <script src="/public/reveal.js" type="module" defer></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
